/* center the blockquote in the page */
.blockquote-4mcs-wrapper {
   display: flex;
   height: 100vh;
   padding: 0 20px;
}

/* Blockquote main style */
.blockquote-4mcs {
    position: relative;
    font-family: 'sofia-pro', sans-serif;
    margin: 40px auto;
    align-self: center;
}

/* Blockquote header */
.blockquote-4mcs h1 {
   font-family: 'sofia-pro', sans-serif;
    position: relative; /* for pseudos */
    color: #000;
    font-size: 2.8rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
    border: 2px solid #fff;
    border: solid 2px;
    border-radius:20px;
    padding: 50px;
}

/* Blockquote right double quotes */
.blockquote-4mcs h1:after {
 content: "";
    position: absolute;
    border: 2px solid #000;
    border-radius: 0 100% 0 0;
    width: 60px;
    height: 60px;
    bottom: -60px;
    left: 49px;
    border-bottom: none;
    border-left: none;
    z-index: 3;
}

.blockquote-4mcs h1:before {
    content:"";
    position: absolute;
    width: 80px;
    border: 6px solid #fff;
    bottom: -3px;
    left: 50px;
    z-index: 2;
}

/* increase header size after 600px */
@media all and (min-width: 600px) {
    .blockquote-4mcs h1 {
        font-size: 3rem;
        line-height: 1.2;
   }

}

/* Blockquote subheader */
.blockquote-4mcs h4 {
    position: relative;
    color: #1f4494;
    font-size: 2rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding-top: 15px;
    z-index: 1;
    margin-left:150px;
    padding-left:12px;
}

 
.blockquote-4mcs h4:first-letter {
  margin-left:-12px;
}

.quotemark-topleft{
	  position: absolute;
    top: 15px;
    left: 15px;
    width: 35px; /* Adjust size as needed */
  height: auto;
  pointer-events: none; /* So the image doesn’t interfere with interaction */
  z-index: 1; /* Ensure it's on top if needed */
}

.quotemark-bottomright {
position: absolute;
    bottom: 15px;
    right: 20px;
    width: 35px;
    height: auto;
    pointer-events: none;
    z-index: 1;
    transform: scaleX(-1);/* Flips image horizontally */
}


.postid-11455 .title-bar-image figure{
	border-radius: 15px 15px 15px 100px;
    overflow: hidden;
    border-color: #006d77;
    box-shadow: -15px 10px 0px 0px #48E5C2;
}

.hero-video {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevents video from interfering with scrolling or clicking */
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Hides hero image section of Cattle Calling CS*/
.postid-11455 .container.s-padding-top.s-margin-top {
	display: none
}


.cattle-calling-CS-video-left {
	    position: relative;
    aspect-ratio: 1.6;
    width: calc(100% + 3rem) !important;
    overflow: hidden;
    border-radius: 0rem 3rem 3rem 0rem;
    transform: translate3d(-1.75%, 0, 0);
}

.cattle-calling-CS-video-right {
position: relative;
    aspect-ratio: 1.6;
    width: calc(100% + 3rem) !important;
    overflow: hidden;
    border-radius: 3rem 0rem 0rem 3rem;
    transform: translate3d(-1.75%, 0, 0);
}

.blog-copy-headshot{
	align-items: center;
    display: flex;
    padding: 0px;
    flex-direction: column;
}

.responsive-video-embed {
    aspect-ratio: 16 / 9;
    width: 100%;
    height: auto;
    border: none;
  }

@media (max-width: 781px) {
  .reverse-flex-col {
    flex-direction: column-reverse;
  }
}


@media (max-width: 781px) {
  .mobile-video-CCCS-adjust{
    margin-top: 25%  !important;
  }
}

@media (min-width: 1301px) {
  .CCCS-copy-adjustment {
    width: 66.6667% !important;
  }
}

.postid-11455 header{
	color: white;
}

.postid-11455 header.scrolled {
  color: black;
}
